$color-dark-blue: #427eec;
$color-medium-blue: #4cb7eb;
$color-light-blue:#66e1fd;
$color-box: #ffffff;
$box-width: 200px;
$box-height: 150px;
$box-small-width: 0.7 * $box-width;
$box-large-width: 1.3 * $box-width;